body {
  /*text-align: center;*/
  background-color: #36b55c;
  color: white;
  font-family: 'Playfair Display', serif;
}
#quote-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}
#quote {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 0;
  }
#quote:before, #quote:after {
  font-size: 6rem;
  line-height: 2.5rem;
  position: absolute;
}
#quote:before {
  content: "“";
  top: .25em;
  left: -.5em;
}
#quote:after {
  content: "”";
  bottom: -.1em;
  margin-left: .1em;
  position: absolute;
}
#source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}
#source:before {
  content: "—";
}
#citation {
  font-style: italic;
}
#citation:before {
  content: ", ";
  font-style: normal;
}
#year:before {
  content: ", ";
  font-style: normal;
}

#quote-button {
  position: fixed;
  width: 12em;
  display: inline-block;
  left: 50%;
  margin-left: -6em;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #36b55c;
  padding: 15px 0;
  transition: .5s ;
}
#quote-button:hover {
  background-color: rgba(255,255,255,.25);
}
#quote-button:focus {
  outline: none;
}

@media (max-width: 420px) {
  .quote {
    font-size: 2.5rem;
  }
  #quote:before, #quote:after {
    font-size: 3rem;
  }
  #source {
    font-size: 1rem;
  }
}
